
*{
    margin:0;
    padding:0;   

}


/* .Piccontainer{

margin-bottom:0;


} */

.dog{
background-image: url("../images/bgDog.png");
margin:0;
} 
/* 
.Piccontainer{
    position: relative;
    text-align:center;
<<<<<<< HEAD
    color:black;
} */

=======
    color:#453E29;
}
>>>>>>> a5a2437e1e4cce28252e32348dd102ff4ca94e12
.form-container{
    text-align:center;
    align:center;
    background-color: #77B7A5;
}

.avaiable{
    height:500px;
    text-align:center;
    background:l#77B7A5;
    margin-bottom :0px;
    border-bottom:3px solid #77B7A5;
    z-index:1;
}

.title-box{
background: #77B7A5;
width:300px;
padding:4px 10px;
height:50px;
margin-bottom:30px;
display:flex;
}
.title-box h1{
    font-size:20px;
}
.person1 {
    border:1px solid #ddd;
    border-radius:2px;
    padding:1px;
    width:180px;
    height:120px;
}
.person2{
    border:1px solid #ddd;
    border-radius:2px;
    padding:1px;
    width:180px;
    height:120px;
}
.person3 {
    border:1px solid #ddd;
    border-radius:2px;
    padding:1px;
    width:180px;
    height:120px;
}

.mycontainer{
    background-color: #77BAE4;
    border: 3px solid red;
}

#topHeader{
    background-color: ghostwhite;
    border-bottom: 1px  solid silver;
}
#topHeader a{
    color: #2c3e50
}
.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}
/*.footer{
    background-color:  #77B7A5;
    position: absolute;
    bottom: 0;
    width: 100%;
    
  }
  .top-footer p{
    color: white;
  }
  .top-footer a{
    color: white;
    font-weight: 600;
  }
  .top-footer h3{
    color: white;
  }
  .bottom-footer{
    background-color: #77B7A5;
  }
  */
  .full-footer{
    background-color: #77B7A5
    
  }
  .top-footer p{
    color: white;
  }
  .top-footer a{
    color: white;
    font-weight: 600;
  }
  .top-footer h3{
    color: white;
  }
  
  .top-article-session{
      background-color:white ;
      color: #77B7A5
  }
  li.right{
    float: right;
}