.mypet-style1 {
    color: #77b7a5;
    font-family: 'Arial Black' Gadget sans-serif;
    font-weight: bold;
}
.mypet-style2 {
    background-color: #77b7a5;
    font-family: 'Arial Black' Gadget sans-serif;
    font-size: 120%;
}
.mypet-style3 {
    color: #453e29;
    font-family: 'Arial Black' Gadget sans-serif;
    font-size: 100%;
}